<app-navbar></app-navbar>
<main>
    <div class="cards"  >
        <div class="card" *ngFor="let g of GasList">
            <mat-card class="example-card">
                
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-header>
                  <div class="avatar" mat-card-avatar [ngStyle]="{'background-image': 'url('+ g.logo +')','background-position': 'center','background-size': '100% 100%'}">
                     
                  
                  </div>

                  <mat-card-title class="title">{{g['Rótulo']}}</mat-card-title>
                  <mat-card-subtitle>{{g.Provincia}}</mat-card-subtitle>
                  <mat-card-subtitle>{{g.Municipio.toUpperCase()}}</mat-card-subtitle>
                  <mat-card-subtitle>{{g['Dirección']}}</mat-card-subtitle>
                  
                  
                  
                </mat-card-header>
                <div class="btn-container">
                  <button mat-button>DETALLES</button>
                </div>
                
              </mat-card>

        </div>
        
    </div>
    
</main>
