<app-navbar></app-navbar>
<main>
  
    <div class="cards"  >
      <mat-form-field appearance="standard">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="onSearch($event)" placeholder="Introducir nombre o municipio" #input style="border-color: aqua;">
      </mat-form-field><br>
        <div class="card" *ngFor="let g of GasList">
            <mat-card class="example-card">
                
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-header>
                  <div class="avatar" mat-card-avatar [ngStyle]="{'background-image': 'url('+ g.logo +')','background-position': 'center','background-size': '100% 100%'}">
                     
                  
                  </div>

                  <mat-card-title class="title">{{g['Rótulo']}}</mat-card-title>
                  <mat-card-subtitle>{{g.Provincia}}</mat-card-subtitle>
                  <mat-card-subtitle>{{g.Municipio.toUpperCase()}}</mat-card-subtitle>
                  <mat-card-subtitle>{{g['Dirección']}}</mat-card-subtitle>
                  
                  
                  
                </mat-card-header>
                <div class="btn-container">
                  <button mat-button (click)="openDetailsDialog(g.logo,g['Rótulo'],g['Dirección'],g.Municipio, g.Horario, g['Precio Gasolina 95 E5'], g['Precio Gasolina 98 E5'], g['Precio Gasoleo A'])">DETALLES</button>
                </div>
                
              </mat-card>

        </div>
        
    </div>
    
</main>
